<footer>
    <p>
        <i class="fas fa-fire"></i>Passionately created by <a href="www.ngrinsell.com" target="_blank">Nicole Grinsell</a>
    </p>
    <p>
        <a href="https://animal-crossing.com/" target="_blank">Animal Crossing</a> is a registered trademark of <a href="https://www.nintendo.com/" target="_blank">Nintendo</a>. Vast Horizons in no way claims ownership of any intellectual property associated with Animal Crossing.
    </p>
</footer>