<!doctype html>
<html lang="en">
  <head>
    <%- include('partials/head') %>
  </head>
  <body>
    <%- include('partials/header') %>
    <div class="container">
      <div class="row mt-5">
        <div class="col">
          <div class="card">
            <div class="card-header">
              Host Your Island
            </div>
            <div class="card-body">
              <div class="card-text">
                <div class="alert alert-success" role="alert" style="display: none">
                  <span id="alertMessage"></span>
                  <button type="button" class="close" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div id="hostForm">
                    <p>Ready to open your island to others?  Fantastic!  Use the form below to get setup!</p>
                    <p>If you are confused on what any of these settings mean, please see our FAQ.</p>
                    <p>More reason types will be available soon.</p>
                    
                    <hr>

                    <form onsubmit="return false;">
                        <div id="hostIsland_step1" class="hostIslandSteps">
                            <h2>Step 1: Host Information</h2>
                            <div class="form-group">
                                <label for="dodo_code">Dodo Code</label>
                                <input type="text" class="form-control" id="dodo_code" name="dodo_code" placeholder="Your Island's Dodo Code" data-validation="100">
                            </div>
                            <div class="form-group">
                                <label for="villager_clothes">What Does Your Villager Look Like</label>
                                <input type="text" class="form-control" id="villager_clothes" name="villager_clothes" placeholder="Briefly describe your clothes so visitors can recognize you" data-validation="4.2">
                            </div>
                            <div class="form-group">
                                <label for="max_visitors">Max Visitors on Your Island at One Time</label>
                                <span class="inputHint">
                                    <i class="fas fa-question-circle"></i>
                                    <span>We recommend 2 - 4 for the sake of time and to prevent crashing. 4 is the default.</span>
                                </span>
                                <input type="text" class="form-control" id="max_visitors" name="max_visitors" placeholder="4" data-validation="100.1">
                            </div>
                            <div class="form-group">
                                <label for="max_queue">Max Island Queue</label>
                                <span class="inputHint">
                                    <i class="fas fa-question-circle"></i>
                                    <span>Put a number you think you can run through in its entirety. 25 is the default.</span>
                                </span>
                                <input type="text" class="form-control" id="max_queue" name="max_queue" placeholder="25" data-validation="100.2">
                            </div>
                            <div class="form-group">
                                <label for="queue_timeout">Queue Timeout (minutes)</label>
                                <span class="inputHint">
                                    <i class="fas fa-question-circle"></i>
                                    <span>If a user doesn't uncover the Dodo code to your island in this amount of time, they will be kicked from the queue. 5 is the default.</span>
                                </span>
                                <input type="text" class="form-control" id="queue_timeout" name="queue_timeout" placeholder="5" data-validation="1.1">
                            </div>
                            <div class="form-group">
                                <label for="visitor_time_limit">Requested Visitor Time Limit (minutes)</label>
                                <span class="inputHint">
                                    <i class="fas fa-question-circle"></i>
                                    <span>Optional. Let visitors know you'd only like them to stay this long. (approx 10 is avg)</span>
                                </span>
                                <input type="text" class="form-control" id="visitor_time_limit" name="visitor_time_limit" placeholder="10" data-validation="1.1">
                            </div>
                            <div class="row">
                                <div class="col text-right">
                                    <button class="hostIsland_toStep2 btn btn-primary">Next</button>
                                </div>
                            </div>
                        </div>

                        <div id="hostIsland_step2" class="hostIslandSteps">
                            <h2>Step 2: Host Reason</h2>
                            <div class="form-group">
                                <label for="host_reason">Host Reason</label>
                                <span class="inputHint">
                                    <i class="fas fa-question-circle"></i>
                                    <span>Only 1 is supported at the moment.</span>
                                </span>
                                <div class="vh-inlineCheckboxes">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="host_reason" id="host_reason_diy" value="diy" checked>
                                        <label class="form-check-label" for="host_reason_diy">Villager Making a DIY</label>
                                      </div>
                                      <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="host_reason" id="host_reason_visitor" value="uniqueVisitor">
                                        <label class="form-check-label" for="host_reason_visitor">Unique Visitor</label>
                                      </div>
                                </div>
                            </div>
                            <div id="hostReasonVillagerDiy" class="hostOptionDetails">
                                <div class="form-group">
                                    <label for="diy_villager_name">Which Villager is Making the DIY?</label>
                                    <input type="text" class="form-control" id="diy_villager_name" name="diy_villager_name" placeholder="Villager's Name" data-validation="2.2">
                                </div>
                                <div class="form-group">
                                    <label for="diy_item">What Item is the Villager Making?</label>
                                    <input type="text" class="form-control" id="diy_item" name="diy_item" placeholder="Item Name" data-validation="2.2">
                                </div>
                                <div class="form-group">
                                    <label for="diy_villager_location">Approximately, Where is Your Villager Located?</label>
                                    <input type="text" class="form-control" id="diy_villager_location" name="diy_villager_location" placeholder="Villager's Location" data-validation="4.3">
                                </div>
                            </div>
                            <div id="hostReasonUniqueVisitor" class="hostOptionDetails">
                                <div class="form-group">
                                    <label for="unique_visitor">Which Unique Visitor is on Your Island?</label>
                                    <span class="inputHint">
                                        <i class="fas fa-question-circle"></i>
                                        <span>Only 1 is supported at the moment.</span>
                                    </span>
                                    <div class="vh-inlineCheckboxes">
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="unique_visitor" id="unique_visitor_celeste" value="celeste">
                                            <label class="form-check-label" for="unique_visitor_celeste">Celeste</label>
                                          </div>
                                          <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="unique_visitor" id="unique_visitor_kicks" value="kicks">
                                            <label class="form-check-label" for="unique_visitor_kicks">Kicks</label>
                                          </div>
                                          <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="unique_visitor" id="unique_visitor_lief" value="lief">
                                            <label class="form-check-label" for="unique_visitor_lief">Lief</label>
                                          </div>
                                          <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="unique_visitor" id="unique_visitor_redd" value="redd">
                                            <label class="form-check-label" for="unique_visitor_redd">Redd</label>
                                          </div>
                                          <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" name="unique_visitor" id="unique_visitor_saharah" value="saharah">
                                            <label class="form-check-label" for="unique_visitor_saharah">Saharah</label>
                                          </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="unique_visitor_location">Approximately, Where is Your Visitor Located?</label>
                                    <input type="text" class="form-control" id="unique_visitor_location" name="unique_visitor_location" placeholder="Visitor's Location">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6 text-left">
                                    <button class="hostIsland_toStep1 btn btn-primary">Previous</button>
                                </div>
                                <div class="col-6 text-right">
                                    <button class="hostIsland_toStep3 btn btn-primary">Next</button>
                                </div>
                            </div>
                        </div>


                        <div id="hostIsland_step3" class="hostIslandSteps">
                            <h2>Step 3: Requested Island Visitor Restrictions</h2>
                            <div class="form-group">
                                <label for="restriction_flowers" class="vh-labelInlineRadio">Pick Flowers</label>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="restriction_flowers" id="restriction_flowers_no" value="false" checked>
                                    <label class="form-check-label" for="restriction_flowers_no">No</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="restriction_flowers" id="restriction_flowers_yes" value="true">
                                    <label class="form-check-label" for="restriction_flowers_yes">Yes</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="restriction_fruit" class="vh-labelInlineRadio">Pick Fruit</label>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="restriction_fruit" id="restriction_fruit_no" value="false" checked>
                                    <label class="form-check-label" for="restriction_fruit_no">No</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="restriction_fruit" id="restriction_fruit_yes" value="true">
                                    <label class="form-check-label" for="restriction_fruit_yes">Yes</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="restriction_trees" class="vh-labelInlineRadio">Shake Trees</label>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="restriction_trees" id="restriction_trees_no" value="false" checked>
                                    <label class="form-check-label" for="restriction_trees_no">No</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="restriction_trees" id="restriction_trees_yes" value="true">
                                    <label class="form-check-label" for="restriction_trees_yes">Yes</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="restriction_shells" class="vh-labelInlineRadio">Gather Shells</label>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="restriction_shells" id="restriction_shells_no" value="false" checked>
                                    <label class="form-check-label" for="restriction_shells_no">No</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="restriction_shells" id="restriction_shells_yes" value="true">
                                    <label class="form-check-label" for="restriction_shells_yes">Yes</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="restriction_fish" class="vh-labelInlineRadio">Catch Fish</label>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="restriction_fish" id="restriction_fish_no" value="false" checked>
                                    <label class="form-check-label" for="restriction_fish_no">No</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="restriction_fish" id="restriction_fish_yes" value="true">
                                    <label class="form-check-label" for="restriction_fish_yes">Yes</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="restriction_bugs" class="vh-labelInlineRadio">Catch Bugs</label>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="restriction_bugs" id="restriction_bugs_no" value="false" checked>
                                    <label class="form-check-label" for="restriction_bugs_no">No</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="restriction_bugs" id="restriction_bugs_yes" value="true">
                                    <label class="form-check-label" for="restriction_bugs_yes">Yes</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="restriction_bulletin_board" class="vh-labelInlineRadio">Post to Bulletin Board</label>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="restriction_bulletin_board" id="restriction_bulletin_board_no" value="false" checked>
                                    <label class="form-check-label" for="restriction_bulletin_board_no">No</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="restriction_bulletin_board" id="restriction_bulletin_board_yes" value="true">
                                    <label class="form-check-label" for="restriction_bulletin_board_yes">Yes</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6 text-left">
                                    <button class="hostIsland_toStep2 btn btn-primary">Previous</button>
                                </div>
                                <div class="col-6 text-right">
                                    <button class="hostIsland_toStep4 btn btn-primary">Next</button>
                                </div>
                            </div>
                        </div>

                        <div id="hostIsland_step4" class="hostIslandSteps">
                            <h2>Step 4: Wrap Up</h2>
                            <div class="form-group">
                                <label for="wishlist">If a Visitor Would Like to Tip, What Would You Like Most?</label>
                                <input type="text" class="form-control" id="wishlist" name="wishlist" placeholder="Wishlist Items" data-validation="4.3">
                            </div>
                            <div class="form-group">
                                <label for="additional_details">Any Additional Details You'd Like to Provide</label>
                                <input type="text" class="form-control" id="additional_details" name="additional_details" placeholder="Additional Details for Visitors" data-validation="4.3">
                            </div>
                            <div class="row">
                                <div class="col-6 text-left">
                                    <button class="hostIsland_toStep3 btn btn-primary">Previous</button>
                                </div>
                                <div class="col-6 text-right">
                                    <button id="createHostIsland" class="btn btn-primary">Submit</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include('partials/scripts') %>
    <script src="js/form.js"></script>
    <script src="js/hostIsland.js"></script>
  </body>
</html>