<!doctype html>
<html lang="en">
  <head>
    <%- include('partials/head') %>
  </head>
  <body>
    <%- include('partials/header') %>

    <div class="container">
        <div class="row">
            <div class="col-2">
                hi
            </div>
            <div class="col-10">
                hi
            </div>
        </div>
    </div>

    <%- include('partials/footer') %>
    <%- include('partials/scripts') %>
  </body>
</html>