<p>Below are you island details.  You can update them as necessary.</p>
<form onsubmit="return false;">
    <div class="form-group">
        <label for="islandName">Island Name</label>
        <input type="text" class="form-control" id="islandName" name="islandName">
    </div>
    <div class="form-group">
        <label for="villagerName">Villager Name</label>
        <input type="text" class="form-control" id="villagerName" name="villagerName">
    </div>
    <div class="form-group">
        <label for="nativeFruit">Native Fruit</label>
        <select class="form-control" name="nativeFruit" id="nativeFruit">
        <option></option>
        <option value="apples">Apples</option>
        <option value="cherries">Cherries</option>
        <option value="oranges">Oranges</option>
        <option value="peaches">Peaches</option>
        <option value="pears">Pears</option>
        </select>
    </div>
    <div class="form-group">
        <label for="islandHemisphere">Hemisphere</label>
        <select class="form-control" name="islandHemisphere" id="islandHemisphere">
        <option></option>
        <option value="north">North</option>
        <option value="south">South</option>
        </select>
    </div>
    <button id="updateIsland" class="btn btn-primary" disabled>Update My Island</button>
</form>